@import "../../../assets/styles/constants";
@import "../../../assets/styles/mixins";

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 1.6rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) rotate(0deg);
  transition: transform 0.3s ease-in-out;
  width: 4rem;

  @include breakpoint-max($bp-screen-md) {
    left: 3.2rem;
    transform: translateX(0) rotate(0deg);
  }

  :hover,
  :focus {
    > span {
      background-color: $color-grey-400;
    }
  }

  > span {
    background-color: $color-white;
    border-radius: 1.2rem;
    cursor: pointer;
    display: block;
    height: .2rem;
    left: 0;
    opacity: 1;
    position: absolute;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out, background-color .3s ease-in-out;
    width: 100%;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 1.2rem;
    }
  }

  &.active span {
    &:nth-child(1) {
      top: .6rem;
      transform: rotate(-135deg);
    }

    &:nth-child(2) {
      top: .6rem;
      transform: rotate(135deg);
    }
  }
}