@import "../vendor/vars";
@import "../vendor/mixins";

.four-o-four {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include breakpoint-vertical($bp-767) {
    height: initial;
  }
  &__wrapper {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    @include breakpoint($bp-767) {
      flex-direction: column;
      gap: 2.5rem;
    }
    @include breakpoint($bp-576) {
      gap: 1.5rem;
    }
    .image__wrapper {
      height: 30rem;
      width: 25rem;
    }
  }
  &__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    @include breakpoint($bp-767) {
      gap: 1.5rem;
    }
    h2 {
      margin-bottom: 0;
    }
    p {
      text-align: center;
    }
  }
}