@import "../vendor/vars";
@import "../vendor/mixins";

.about {
  &__text {
    margin-bottom: 5rem;
    font-family: $font-main;
    font-weight: $font-light;
  }
  &__solutions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & .solution {
      padding: 2rem;
      width: 30%;
      height: 28rem;
      background: linear-gradient(90deg, hsla(0, 0%, 8%, 1) 0%, hsla(0, 0%, 12%, 1) 100%);
      h4 {
        text-align: left;
        font-size: 3.2rem;
        text-transform: capitalize;
      }
      & hr {
        margin-bottom: 2rem;
        border-bottom: 1px solid $highlight-color;
      }
      p {
        font-size: 2rem;
        font-family: $font-text;
      }
    }
  }
}