@import "../vendor/vars";
@import "../vendor/mixins";

.footer {
  padding: 4rem;
  background: linear-gradient(90deg, hsla(0, 0%, 8%, 1) 0%, hsla(0, 0%, 16%, 1) 100%);
  &-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact-wrapper {
    .contact-t {
      margin-bottom: 2rem;
      text-align: center;
      a {
        margin: 0 1rem;
      }
      svg {
        height: 5rem;
        fill: $main-color;
        transition: fill .2s linear;
        &:hover {
          fill: $highlight-color
        }
        @include breakpoint($bp-576) {
          height: 3rem;
        }
      }
    }
    .contact-b {
      .item {
        @include contact-item-style;
        font-size: 0;
        span {
          font-size: 2.2rem;
          @include breakpoint($bp-400) {
            font-size: 2rem;
          }
        }
      }
    }
  }
  .img-wrapper {
    margin-top: 3rem;
    width: 30rem;
    @include breakpoint($bp-576) {
      margin-top: 1.5rem;
    }
    @include breakpoint($bp-400) {
      margin-top: 0;
      width: 20rem;
    }
  }
}