@import "../vendor/vars";
@import "../vendor/mixins";

.header {
  padding-top: $nav-height;
  //min-height: calc(100vh - #{$nav-height});
  min-height: 100vh;
  &__wrapper {
    padding-top: 10rem;
    @include breakpoint($bp-991) {
      padding-top: 5rem;
    }
  }
  &__supheader {
    font-family: $font-text;
    text-align: right;
    color: rgba($main-color, .4);
    @include breakpoint($bp-576) {
      font-size: 1.9rem;
    }
  }
  &__heading {
    margin-bottom: 8rem;
    font-family: $font-heading;
    font-weight: $font-bold;
    font-size: 9rem;
    text-align: right;
    @include breakpoint($bp-991) {
      margin-bottom: 5rem;
    }
    @include breakpoint($bp-576) {
      font-size: 6rem;
    }
    span {
      color: $highlight-color;
    }
  }
  &__image {
    padding: 8rem;
    background: url(../../assets/images/header-min.png) 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint($bp-991) {
      padding: 5rem;
      flex-direction: column;
      gap: 3rem;
    }
    @include breakpoint($bp-576) {
      padding: 2rem;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
    @include breakpoint($bp-991) {
      gap: 3rem;
    }
    @include breakpoint($bp-576) {
      align-items: center;
    }
  }
  &__about {
    width: 70%;
    @include breakpoint($bp-991) {
      width: 100%;
    }
    @include breakpoint($bp-576) {
      font-size: 1.8rem;
    }
  }
}