@import "../vendor/vars";
@import "../vendor/mixins";

.modal-win {
  padding: 2rem;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -500%);
  background-color: #1f1f1f;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  @include breakpoint($bp-767) {
    width: 80%;
  }
  @include breakpoint($bp-576) {
    width: 95%;
  }
  @include breakpoint-vertical($bp-595) {
    height: calc(100vh - #{$nav-height});
    overflow-y: scroll;
  }
  &.view {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  .modal__header {
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 2px solid $highlight-color;
    svg {
      cursor: pointer;
      fill: $highlight-color;
      width: 3rem;
      height: 3.9996rem;
      transition: transform .2s ease-in-out;
      &:hover {
        transform: rotate(90deg);
      }
    }
  }
  .modal__form {
    .form.contact {
      height: 50rem;
    }
  }
}