@import "../vendor/vars";
@import "../vendor/mixins";

.partners {
  margin-bottom: 12rem;
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item {
    border: 1px solid transparent;
    transition: border .2s ease-in-out;
    img {
      filter: grayscale(100);
      transition: filter .2s ease-in-out;
      &:hover {
        filter: grayscale(0);
      }
    }
  }
}

