@import "../vendor/vars";
@import "../vendor/mixins";

.team {
  margin-bottom: 12rem;
  position: relative;

  &__wrapper {
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    @include breakpoint($bp-991) {
      width: 100%;
      justify-content: space-between;
    }
    @include breakpoint($bp-767) {
      justify-content: center;
      gap: 2rem;
    }

    .member {
      transition: color .2s ease-in-out;
      &:hover {
        color: rgba($main-color, .8);
        & .image-wrapper {
          img {
            filter: none;
            clip-path: none;
            @include breakpoint($bp-991) {
              width: 20rem;
              height: 20rem;
            }
          }
        }
        & .info-wrapper {
          clip-path: none;
        }
      }

      .image-wrapper {
        width: 25rem;
        height: 25rem;
        transition: clip-path .2s ease-in-out;
        @include breakpoint($bp-991) {
          width: 20rem;
          height: 20rem;
        }

        img {
          filter: grayscale(100%);
          clip-path: polygon(0 0, 75% 0%, 100% 20%, 100% 100%, 0% 100%, 0% 50%);
          transition: all .2s ease-in-out;
        }
      }
    }

    .info-wrapper {
      padding: 1rem;
      background-color: #1f1f1f;
      clip-path: polygon(0 0, 100% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 75%);

      .member__name {
        text-align: center;
        color: $highlight-color;
        font-size: 2rem;
        @include breakpoint($bp-991) {
          font-size: 1.6rem;
        }
      }

      .member__role {
        text-align: center;
        @include breakpoint($bp-991) {
          font-size: 2rem;
        }
        &:last-child {
          margin-top: 1rem;
          font-size: 1.8rem;
          text-align: right;
        }
      }
    }
  }
}