@import "../vendor/vars";
@import "../vendor/mixins";

.construction {
  padding: 1rem 0;
  height: 100vh;
  position: relative;
  @include breakpoint($bp-767) {
    padding: 3rem 0;
    height: initial;
  }

  .img-container {
    margin-bottom: 2rem;
  }

  &-heading {
    width: 75%;
    @include breakpoint($bp-767) {
      width: 100%;
    }

    & .heading {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      font-weight: $font-bold;
      font-size: 4rem;
      text-transform: uppercase;
      text-align: center;
      @include breakpoint($bp-991) {
        font-size: 5rem;
      }
      @include breakpoint($bp-576) {
        font-size: 3rem;
      }
    }
    & .about-us {
      margin: 0 auto;
      width: 100%;
      h3 {
        margin: 1.5rem 0 .5rem 0;
        text-transform: uppercase;
        color: $highlight-color;
        text-align: center;
        font-size: 2.5rem;
        @include breakpoint($bp-576) {
          font-size: 2.2rem;
        }
      }
      p {
        font-size: 2rem;
        text-align: center;
        @include breakpoint($bp-576) {
          font-size: 1.7rem;
        }
      }
    }
  }
  & .contact {
    margin-top: 2rem;
    a {
      margin: 0 1rem;
    }
    svg {
      height: 5rem;
      fill: $main-color;
      transition: fill .2s linear;
      &:hover {
        fill: $highlight-color
      }
      @include breakpoint($bp-576) {
        height: 3rem;
      }
    }
  }
}