@import "src/assets/styles/constants";
@import "src/assets/styles/mixins";

.wrapper {
  align-items: center;
  display: grid;
  gap: 5rem;
  grid-template-columns: 9rem 0fr 9rem 0fr 9rem 0fr 9rem 0fr 9rem;
  justify-content: space-between;
  width: 100%;
  padding: calc(8rem + 2.8rem) 0 calc(8rem + 2.8rem + 3.6rem) 0; //sectionPt + lh

  @include breakpoint-max($screen-max-width) {
    grid-template-columns: 11% 0fr 11% 0fr 11% 0fr 11% 0fr 11%;
    gap: 3.2rem;
    justify-content: space-between;
    padding: calc(5.8rem + 2.1rem) 0 calc(5.8rem + 2.1rem + 3.6rem) 0; //sectionPt + lh
  }

  @include breakpoint-max($bp-screen-lg) {
    gap: 2.1rem;
  }

  @include breakpoint-max($bp-screen-md) {
    gap: 1.1rem;
  }

  @include breakpoint-max($bp-screen-smd) {
    margin-left: -1rem;
    gap: 0.5rem;
    grid-template-columns: 8% 0fr 8% 0fr 8% 0fr 8% 0fr 8%;
    padding: 2rem 0 3rem 0;
  }

  @include breakpoint-max($bp-screen-sm) {
    margin-left: -1.5rem;
    gap: 0;
    grid-template-columns: 1% 0.5% 1% 0.5% 1% 0.5% 1% 0.5% 1%;
    padding: 2rem 0 3rem 0;
  }

  &::-webkit-scrollbar {
    height: .3rem;
    width: 0.5em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-brand;
    transition: background-color .3s ease-in-out;
  }

  svg {
    &:last-child {
      display: none;
    }
  }
}

.description {
  margin-top: 4.8rem;
  max-width: 700px;

  @include breakpoint-max($bp-screen-md) {
    margin-top: 3.2rem;
  }
}