@import "../../../assets/styles/constants";
@import "../../../assets/styles/mixins";

.menu {
  background-color: $color-grey-1000;
  height: calc(100vh - 32rem);
  left: 0;
  overflow-y: scroll;
  padding: 16rem 3.2rem;
  position: fixed;
  top: 0;
  transform: translateY(-100vh);
  transition: transform .6s ease-in-out;
  width: calc(100vw - 6.4rem);
  z-index: 9;

  &.active {
    transform: translateY(0);
  }
}

.wrapper {
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $screen-max-width;

  @include breakpoint-max($bp-screen-smd) {
    flex-direction: column;
    gap: 6.4rem;
  }
}

.list {
  li {
    cursor: pointer;
    margin-bottom: 3.2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contacts {
  ul > li {
    margin-bottom: 1.6rem;

    &:last-child {
      margin-bottom: 0;
    }

    > a {
      align-items: center;
      display: flex;
      gap: 1.6rem;
      justify-content: flex-end;

      @include breakpoint-max($bp-screen-smd) {
        justify-content: flex-start;
      }
    }
  }
}