@import "src/assets/styles/constants";
@import "src/assets/styles/mixins";

.item {
  align-items: center;
  display: grid;
  gap: 8rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3.2rem;

  @include breakpoint-max($bp-screen-lg) {
    gap: 3.2rem;
  }

  @include breakpoint-max($bp-screen-md) {
    grid-template-columns: none;
    grid-template-rows: 1fr 0fr;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.reverse {

    > div:first-child {
      grid-column: 2;
      grid-row: 1;

      @include breakpoint-max($bp-screen-md) {
        grid-column: 1;
      }
    }

    > div:last-child {
      grid-column: 1;
      grid-row: 1;

      @include breakpoint-max($bp-screen-md) {
        grid-column: 1;
        grid-row: 2;
      }

      h3, p {
        text-align: right;

        @include breakpoint-max($bp-screen-md) {
          text-align: left;
        }
      }
      ul {
        justify-content: flex-end;
        margin-left: 0;

        @include breakpoint-max($bp-screen-md) {
          justify-content: flex-start;
          margin-left: 1.2em;
        }
      }
    }
  }
}

.image {
  aspect-ratio: 1 / 1;
  border-radius: 2.4rem;
  position: relative;

  img {
    padding: 0 8rem !important;

    @include breakpoint-max($bp-screen-lg) {
      padding: 0 4.8rem !important;
    }
  }
}

.list {
  align-items: center;
  display: flex;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
  margin-left: 1.2em;

  @include breakpoint-max($bp-screen-sm) {
    margin-left: 1em;
  }

  li {
    &:before {
      color: $color-grey-600;
      content: "\25A0";
      display: inline-block;
      font-weight: bold;
      margin-left: -1em;
      width: 1em;
    }
  }
}