@import "src/assets/styles/constants";
@import "src/assets/styles/mixins";

.wrapper {
  background-color: $color-grey-1000;
}

.footer {
  display: grid;
  gap: 3.2rem;
  grid-template-columns: .8fr 1fr;
  margin: 0 auto;
  max-width: $screen-max-width;
  padding: 3.2rem 3.2rem 6.4rem;

  @include breakpoint-max($bp-screen-lg) {
    display: flex;
    flex-direction: column;
  }
}

.images {
  align-items: center;
  display: flex;
  gap: 3.2rem;
  margin-bottom: 2.4rem;
}

.right {
  display: grid;
  gap: 1.6rem;
  grid-template-columns: 1fr 1fr 1fr;

  @include breakpoint-max($bp-screen-smd) {
    display: flex;
    flex-wrap: wrap;
  }
}

.list {
  li {
    cursor: pointer;
    margin-bottom: .8rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}