$color-white: #FFFFFF;
$color-grey-300: #D4D4D4;
$color-grey-400: #9E9E9E;
$color-grey-600: #7A7A7A;
$color-grey-700: #313030;
$color-grey-800: #242424;
$color-grey-1000: #1A1A1A;

$color-background-grey: #F7F7FB;

$color-brand: #1CFEBA;

$bp-screen-lg: 991px;
$bp-screen-md: 767px;
$bp-screen-smd: 565px;
$bp-screen-sm: 375px;
$bp-screen-xs: 320px;

$screen-max-width: 1200px;




