.block {
  align-items: center;
  display: grid;
  gap: 3.2rem;
  grid-template-columns: repeat(auto-fit, minmax(212px, 1fr));
}

.image {
  aspect-ratio: .72812328 / 1;
  margin-bottom: 1.6rem;
  position: relative;
  width: 100%;

  img {
    border-radius: 1.2rem;
  }
}
