@import "./vendor/vars";
@import "./vendor/reset";
@import "./blocks/under-construction";
@import "./blocks/nav";
@import "./blocks/headerBlock";

@font-face {
  font-family: 'neo latina Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/neo-latina-demo-FFP.woff") format('woff');
}

.button-action {
  width: 30rem;
  cursor: pointer;
  position: relative;

  span {
    display: block;
    //width: 25rem;
    height: 5rem;
    line-height: 5rem;
    font-family: $font-main;
    font-weight: 400;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;

    &:hover {
      //width: 20rem;
      border: 3px solid $highlight-color;
      background: rgba($bg-color, .6);
      color: $highlight-color;

      & + .icon {
        border: 3px solid $highlight-color;
        right: -5%;

        svg {
          opacity: 1;
        }
      }
    }
  }

  .icon {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: 0;
    transition: all .35s;

    svg {
      width: 30px;
      position: absolute;
      top: calc(50% - 15px);
      left: calc(50% - 15px);
      transform: rotate(135deg);
      fill: $highlight-color;
      transition: all .35s;
      opacity: 0;
    }
  }
}
