@import "./vendor/vars";
@import "./vendor/reset";
@import "./blocks/under-construction";
@import "./blocks/nav";

@font-face {
  font-family: 'neo latina Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/neo-latina-demo-FFP.woff") format('woff');
}
